@font-face {
    font-family: gotham-medium;
    font-display: swap;
    src: url(//cdn-content.optimonk.com/customFonts/85015/Gotham-Medium/Gotham-Medium.woff)format('woff'), url(//cdn-content.optimonk.com/customFonts/85015/Gotham-Medium/Gotham-Medium.woff2)format('woff2')
}